.App {
  text-align: center;
  background-image: linear-gradient(to right top, #38f2cd, #00e2f8, #00ccff, #00adff, #a682ff, #b976f2, #c969e4, #d75bd3, #b876ea, #958bf7, #739bfb, #59a8f7);
  height: 400px;
  color:white;
  margin: auto;
  
}

